$neat-grid-tablet: (
  media: "(min-width: 768px)",
);

$neat-grid-desktop: (
  media: "(min-width: 1069px)",
);

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  color: #37383e;

  main.container {
    flex: 1;
  }
}

.outer-container {
  @include grid-media($neat-grid);
  @include grid-container;
}
